.main {
  display: flex;
  flex-wrap: wrap;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20px,
    black calc(100% - 18px),
    transparent 100%
  );
  justify-content: center;
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-stop: always;
}

::-webkit-scrollbar {
  margin-right: 5px;
  width: 25px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #c0bcbb;
  border-radius: 10px;
}
